* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.app {
   width: 800px;
}

.post {
   display: flex;
   padding: 15px;
   border: 2px solid teal;
   margin-top: 15px;
   justify-content: space-between;
   align-items: center;
}
.post__btns {
   display: flex;
}

.remove-btn {
   margin-right: 0.5rem;
}

/* Початок анімації: */
.post-enter {
   transform: translate(-350px);
}
/* При додавання елемента */
.post-enter-active {
   transform: translate(0px);
   transition: all 500ms ease-in;
}
.post-exit {
   transform: translate(0px);
}
/* При видаленні елемента: */
.post-exit-active {
   transform: translate(-350px);
   transition: all 500ms ease-in;
}

/* Стилі кнопок пагінації ------------------------------------------------------------------------------------------------ */
.page__wrapper {
   margin: 20px 0px 0px 0px;
   display: flex;
}
.page {
   padding: 10px;
   border: 1px solid teal;
   cursor: pointer;
}
.page__current {
   border: 2px solid orange;
   font-weight: bold;
}

/* Панель навігації ------------------------------------------------------------------------------------------------------------------- */
.navbar {
   height: 50px;
   width: 100vw;
   display: flex;

   align-items: center;
   padding: 0 15px;
   background-color: lightgrey;
}

.navbar__links {
   margin-left: auto;
}
